@import './base.css';

* {
  border-radius: 8px;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-body);
}

#app {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
  background: var(--color-background);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--color-heading);
}

p,
strong,
span {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
}

.bordered {
  border: 1px solid hsla(160, 100%, 37%, 1);
  padding: 20px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    margin: 2rem;
    padding: 2rem;
    width: 100vw;
  }
}
.card {
  max-width: var(--card-width);
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #e1e1e1;
}

strong {
  font-weight: bold;
  margin-right: 10px;
}
