@import './base.css';

* {
  border-radius: 8px;
  box-sizing: border-box;
}

body{
  background-color: #c66f6f;
}

#app {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
  background: white;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    margin: 2rem;
    padding: 2rem;
    width: 100vw;
  }
}
